<!doctype html>
<html lang="en-US">
  <head >
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <meta charset="utf-8">
    <meta http-equiv="X-US-Compatible" content="IE=edge">
    <title><%= title %> | 'Albums' </title>
        <link rel="stylesheet" href="css/main.css">
    </head>

    <body>
      <h2>Albums</h2>
      <form action="/albums" method="POST">
        <div class="form-group">
          <label for="name">Name:</label>
          <!-- <input name="name" type="text" placeholder="Metallica"> -->
        </div>
        <div class="form-group">
          <label for="genre">Genre:</label>
         <!--  <input name="genre" type="text" placeholder="Metal"> -->
        </div>

        <button type="submit" class="btn btn-info">Submit</button>
       </form>

      <h3> Albums </h3>
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Genre</th>
          </tr>
        </thead>
     </table>
    </body>
</html>
